@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo a {
  font-size: 24px;
  color: white;
}
.logo i {
  width: 45px;
  font-size: 40px;
  color: white;
}
.head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 20px 0px 20px 0px;
  background-color: rgba(128, 128, 128, 0.842);
  gap: 24px;
  position: fixed;
  z-index: 1;
}
.menu {
  display: flex;
  align-items: center;
  gap: 44px;
}
.hove {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
}
.hove a {
  font-weight: bold;
  font-size: 20px;
  transition: 0.2s;
  color: white;
  position: relative;
  padding-bottom: 5px;
}

.hove a::after {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.hove a:hover::after {
  height: 3px;
  width: 100%;
  border-radius: 40px;
  background-color: white;
}
.menu a:hover {
  color: lightgray;
}
.activated a::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 55px;
  border-radius: 40px;
  background-color: white;
}
.activated a {
  color: lightgray;
}
.icons i {
  margin-left: 30px;
  color: rgb(255, 255, 255);
  font-size: 22px;
}
.head a img {
  height: 30px;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
}
.sidebar a img {
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  height: 30px;
  cursor: pointer;
  float: right;
}
.sidebar a {
  padding: 10px 10px 40px 10px;
  width: 100%;
  transition: 0.4s;
}
.sidebar a:hover {
  background-color: gray;
}
.headcontainer {
  padding: 130px 10px 10px 10px;
  text-align: center;
  background: linear-gradient(to right, #d1b9b2, #bbbab8);
}
.headcontainer h1 {
  font-size: 42px;
}
.container {
  padding: 100px 0px 0px 0px;
}
.window {
  padding: 0px 80px 0px 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
}
.window2 {
  position: relative;
  padding: 0px 80px 50px 80px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
}
.container img {
  width: 400px;
  height: 500px;
}
.footer {
  padding: 20px 20px 20px 20px;
  background-color: rgb(121, 118, 118);
}
.content i {
  font-size: 22px;
  padding: 10px 10px 10px 10px;
}
.content p {
  font-size: 16px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 400px) {
  .hideOnMobile {
    display: none;
  }
  .logo i,
  .logo a {
    font-size: 14px;
  }
  .logo a {
    margin-left: -30px;
  }
  .icons i {
    font-size: 16px;
  }
  .window {
    flex-direction: column;
  }
  .window2 {
    flex-direction: column;
  }
  .container img {
    width: 300px;
    height: 300px;
  }
  .footer p {
    font-size: 10px;
  }
  .footer i {
    font-size: 10px;
  }
}
@media (min-width: 1280px) {
  .hideOnPc {
    display: none;
  }
}
