@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo a {
  font-size: 24px;
  color: white;
}
.logo i {
  width: 45px;
  font-size: 40px;
  color: white;
}
.head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 20px 0px 20px 0px;
  background-color: rgba(128, 128, 128, 0.842);
  gap: 24px;
  position: fixed;
  z-index: 1;
}
.menu {
  display: flex;
  align-items: center;
  gap: 44px;
}
.hove {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
}
.hove a {
  font-weight: bold;
  font-size: 20px;
  transition: 0.2s;
  color: white;
  position: relative;
  padding-bottom: 5px;
}

.hove a::after {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.hove a:hover::after {
  height: 3px;
  width: 100%;
  border-radius: 40px;
  background-color: white;
}
.menu a:hover {
  color: lightgray;
}
.activated a::after {
  content: "";
  position: absolute;
  border-radius: 200px;
  height: 3px;
  width: 100%;
  background-color: white;
}
.activated a {
  color: lightgray;
}
.icons i {
  margin-left: 30px;
  color: rgb(255, 255, 255);
  font-size: 22px;
}
.head a img {
  height: 30px;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
}
.sidebar a img {
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  height: 30px;
  cursor: pointer;
  float: right;
}
.sidebar a {
  padding: 10px 10px 40px 10px;
  width: 100%;
  transition: 0.4s;
}
.sidebar a:hover {
  background-color: gray;
}
.headcontainer {
  padding: 130px 10px 10px 10px;
  text-align: center;
  background: linear-gradient(to right, #d1b9b2, #bbbab8);
}
.headcontainer h1 {
  font-size: 42px;
}
.container {
  padding: 0px 0px 0px 0px;
}
.destinations {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 130px;
  padding: 100px 0px 200px 0px;
  background-color: #ecebeb;
}
.destinations img {
  border-radius: 40px;
}
table td{
  padding: 50px;
}
.destinations > animate {
  flex: 1 1 calc(33.333% - 10px);
  box-sizing: border-box;
  margin: 5px; 
}
.place1 {
  width: 300px;
  height: 461px;
  background-color: #ffffffe7;
  border-radius: 40px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.place1 img {
  width: 300px;
  height: 200px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.place1 p {
  margin-top: 10px;
  font-size: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
}
.place1 h1 {
  margin-top: 10px;
  padding-left: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 30px;
}
.star1 {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 20px;
}
.star1 p {
  margin-top: -5px;
  margin-right: 15px;
  float: right;
}
.book1 a {
  display: inline-block;
  margin: 30px 0px 0px 90px;
  padding: 15px 15px 15px 15px;
  border-radius: 20px;
  border: 1px solid green;
  color: green;
  transition: 0.4s;
}
.book1 a:hover {
  background-color: green;
  color: white;
  transform: scale(1.1);
}
.place2 {
  width: 300px;
  height: 461px;
  background-color: #ffffffe7;
  border-radius: 40px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.place2 img {
  width: 300px;
  height: 200px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.place2 p {
  margin-top: 10px;
  font-size: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
}
.place2 h1 {
  margin-top: 10px;
  padding-left: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 30px;
}
.star2 {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 20px;
}
.star2 p {
  margin-top: -5px;
  margin-right: 15px;
  float: right;
}
.book2 a {
  display: inline-block;
  margin: 30px 0px 0px 90px;
  padding: 15px 15px 15px 15px;
  border-radius: 20px;
  border: 1px solid green;
  color: green;
  transition: 0.4s;
}
.book2 a:hover {
  background-color: green;
  color: white;
  transform: scale(1.1);
}
.place3 {
  width: 300px;
  height: 461px;
  background-color: #ffffffe7;
  border-radius: 40px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.place3 img {
  width: 300px;
  height: 200px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.place3 p {
  margin-top: 10px;
  font-size: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
}
.place3 h1 {
  margin-top: 10px;
  padding-left: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 28px;
}
.star3 {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 20px;
}
.star3 p {
  margin-top: -5px;
  margin-right: 15px;
  float: right;
}
.book3 a {
  display: inline-block;
  margin: 30px 0px 0px 90px;
  padding: 15px 15px 15px 15px;
  border-radius: 20px;
  border: 1px solid green;
  color: green;
  transition: 0.4s;
}
.book3 a:hover {
  background-color: green;
  color: white;
  transform: scale(1.1);
}
.place4 {
  width: 300px;
  height: 461px;
  background-color: #ffffffe7;
  border-radius: 40px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.place4 img {
  width: 300px;
  height: 200px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.place4 p {
  margin-top: 10px;
  font-size: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
}
.place4 h1 {
  margin-top: 0px;
  padding-left: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 29px;
}
.star4 {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 20px;
}
.star4 p {
  margin-top: -5px;
  margin-right: 15px;
  float: right;
}
.book4 a {
  display: inline-block;
  margin: 30px 0px 0px 90px;
  padding: 15px 15px 15px 15px;
  border-radius: 20px;
  border: 1px solid green;
  color: green;
  transition: 0.4s;
}
.book4 a:hover {
  background-color: green;
  color: white;
  transform: scale(1.1);
}
.place5 {
  width: 300px;
  height: 461px;
  background-color: #ffffffe7;
  border-radius: 40px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.place5 img {
  width: 300px;
  height: 200px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.place5 p {
  margin-top: 40px;
  font-size: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  padding-left: 15px;
}
.place5 h1 {
  margin-top: 10px;
  padding-left: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 30px;
}
.star5 {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 20px;
}
.star5 p {
  margin-top: -5px;
  margin-right: 15px;
  float: right;
}
.book5 a {
  display: inline-block;
  margin: 30px 0px 0px 90px;
  padding: 15px 15px 15px 15px;
  border-radius: 20px;
  border: 1px solid green;
  color: green;
  transition: 0.4s;
}
.book5 a:hover {
  background-color: green;
  color: white;
  transform: scale(1.1);
}
.place6 {
  width: 300px;
  height: 461px;
  background-color: #ffffffe7;
  border-radius: 40px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.place6 img {
  width: 300px;
  height: 200px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.place6 p {
  margin-top: 10px;
  font-size: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
}
.place6 h1 {
  margin-top: 0px;
  padding-left: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 30px;
}
.star6 {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 20px;
}
.star6 p {
  margin-top: -5px;
  margin-right: 15px;
  float: right;
}
.book6 a {
  display: inline-block;
  margin: 30px 0px 0px 90px;
  padding: 15px 15px 15px 15px;
  border-radius: 20px;
  border: 1px solid green;
  color: green;
  transition: 0.4s;
}
.book6 a:hover {
  background-color: green;
  color: white;
  transform: scale(1.1);
}
.footer {
  padding: 20px 20px 20px 20px;
  background-color: rgb(121, 118, 118);
}
.content i {
  font-size: 22px;
  padding: 10px 10px 10px 10px;
}
.content p {
  font-size: 16px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .logo i,
  .logo a {
    font-size: 14px;
  }
  .logo a {
    margin-left: -30px;
  }
  .icons i {
    font-size: 16px;
  }
  .destinations > animate {
    flex: 1 1 calc(100% - 10px);
  }
  .headcontainer h1 {
    font-size: 24px;
  }
  .headcontainer p {
    font-size: 18px;
  }
  .footer p {
    font-size: 10px;
  }
  .footer i {
    font-size: 10px;
  }
}
@media (min-width: 1280px) {
  .hideOnPc {
    display: none;
  }
  .places > animate {
    flex: 1 1 calc(50% - 10px); 
  }
}
