@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo a {
  font-size: 24px;
  color: white;
}
.logo i {
  width: 45px;
  font-size: 40px;
  color: white;
}
.head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 20px 0px 20px 0px;
  background-color: rgba(128, 128, 128, 0.842);
  gap: 24px;
  position: fixed;
  z-index: 1;
}
.menu {
  display: flex;
  align-items: center;
  gap: 44px;
}
.hove {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
  letter-spacing: 0.1cap;
}
.hove a {
  font-weight: bold;
  font-size: 20px;
  transition: 0.2s;
  color: white;
  padding-bottom: 5px;

  position: relative;
}
.hove a::after {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  left: 0;
  border-radius: 40px;

  transition: 0.3s;
}
.hove a:hover::after {
  height: 3px;
  width: 100%;
  background-color: white;
}
.menu a:hover {
  color: lightgray;
}
.activated a::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 40px;
  background-color: white;
}
.activated a {
  color: lightgray;
}
.icons i {
  margin-left: 30px;
  color: white;
  font-size: 22px;
}
.head a img {
  height: 30px;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
}
.sidebar a img {
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  height: 30px;
  cursor: pointer;
  float: right;
}
.sidebar a {
  padding: 10px 10px 40px 10px;
  width: 100%;
  transition: 0.4s;
  color: black;
}
.sidebar a:hover {
  background-color: gray;
}
.container {
  width: 100%;
}
.bg {
  position: relative;
}
.bg img {
  width: 100%;
  height: auto;
}
.bgtext h1 {
  position: absolute;
  top: 40%;
  color: white;
  left: 15%;
  font-size: 60px;
}
.bgtext p {
  position: absolute;
  top: 52%;
  color: white;
  left: 15%;
  font-size: 30px;
}
.join a {
  position: absolute;
  top: 75%;
  color: white;
  left: 17%;
  font-size: 35px;
  padding: 13px 13px 13px 13px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: black;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}
.join a:hover {
  color: black;
  border: 1px solid rgba(128, 128, 128, 0.836);
  background-color: rgba(128, 128, 128, 0.836);
  transform: scale(1.1);
}
.mid {
  padding: 50px 0px 10px 0px;
  text-align: center;
  font-size: 23px;
}
.cards {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}
.card1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 15px 15px 15px;
  gap: 10px;
  text-align: center;
}
.card1 i {
  font-size: 150px;
}
.card2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 15px 15px 15px;
  gap: 10px;
  text-align: center;
}
.card2 i {
  font-size: 150px;
}
.card3 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 15px 15px 15px;
  gap: 10px;
  text-align: center;
}
.card3 i {
  font-size: 150px;
}
.famous {
  padding: 10px 0px 10px 0px;
  font-size: 24px;
  text-align: center;
  color: black;
  background-color: #f5f5f5;
}
.famous h1 {
  text-align: center;
}
.places {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  padding: 100px 0px 100px 0px;
  background-image: url(https://t1.gstatic.com/licensed-image?q=tbn:ANd9GcSY7x0shpPE3J7JCulJ5cXC2vYmOCl_LNqhiUPuDeWOA3MaUUut7AM3Wt8VJzFs5gxA);
}
.places img {
  border-radius: 40px;
}
.place {
  flex: 1 1 calc(33.333% - 20px);
  margin: 50px;
  box-sizing: border-box;
  max-width: 1200px;
}
.place1 {
  width: 300px;
  height: 461px;
  background-color: #ffffffe7;
  border-radius: 40px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 40px;
  transition-timing-function: ease-in;
}
.place1 img {
  width: 300px;
  height: 200px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.place1 p {
  margin-top: 10px;
  font-size: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
}
.place1 h1 {
  margin-top: 10px;
  padding-left: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 35px;
}
.star1 {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 20px;
}
.star1 i {
  color: goldenrod;
}
.star1 p {
  margin-top: -5px;
  margin-right: 15px;
  float: right;
}
.place1:hover {
  transform: scale(1.1);
}
.place2 {
  width: 300px;
  height: 461px;
  background-color: #ffffffe7;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 40px;
  transition-timing-function: ease-in;
}
.place2:hover {
  transform: scale(1.1);
}
.place2 img {
  width: 300px;
  height: 200px;
}
.place2 p {
  margin-top: 10px;
  font-size: 19px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
}
.place2 h1 {
  margin-top: 10px;
  padding-left: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 35px;
}
.star2 {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 20px;
}
.star2 i {
  color: goldenrod;
}
.star2 p {
  margin-top: -5px;
  margin-right: 15px;
  float: right;
}
.place3 {
  width: 300px;
  height: 461px;
  background-color: #ffffffe7;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 40px;
  transition-timing-function: ease-in;
}
.place3:hover {
  transform: scale(1.1);
}
.place3 img {
  width: 300px;
  height: 200px;
}
.place3 p {
  margin-top: 10px;
  font-size: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  padding-bottom: 25px;
}
.place3 h1 {
  margin-top: 10px;
  padding-left: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 35px;
}
.star3 {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 20px;
}
.star3 i {
  color: goldenrod;
}
.star3 p {
  margin-top: -5px;
  margin-right: 15px;
  float: right;
}
.place4 {
  width: 300px;
  height: 461px;
  background-color: #ffffffe7;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 40px;
  transition-timing-function: ease-in;
}
.place4:hover {
  transform: scale(1.1);
}
.place4 img {
  width: 300px;
  height: 200px;
}
.place4 p {
  margin-top: 10px;
  font-size: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  padding-bottom: 25px;
}
.place4 h1 {
  margin-top: 10px;
  padding-left: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 30px;
}
.star4 {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 20px;
}
.star4 i {
  color: goldenrod;
}
.star4 p {
  margin-top: -5px;
  margin-right: 15px;
  float: right;
}
.place5 {
  width: 300px;
  height: 461px;
  background-color: #ffffffe7;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 40px;
  transition-timing-function: ease-in;
}
.place5:hover {
  transform: scale(1.1);
}
.place5 img {
  width: 300px;
  height: 200px;
}
.place5 p {
  margin-top: 10px;
  font-size: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  padding-bottom: 25px;
}
.place5 h1 {
  margin-top: 10px;
  padding-left: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 35px;
}
.star5 {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 20px;
}
.star5 i {
  color: goldenrod;
}
.star5 p {
  margin-top: -5px;
  margin-right: 15px;
  float: right;
}
.place6 {
  width: 300px;
  height: 461px;
  background-color: #ffffffe7;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 40px;
  transition-timing-function: ease-in;
}
.place6:hover {
  transform: scale(1.1);
}
.place6 img {
  width: 300px;
  height: 200px;
}
.place6 p {
  margin-top: 10px;
  font-size: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  padding-bottom: 25px;
}
.place6 h1 {
  margin-top: 10px;
  padding-left: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 26px;
}
.star6 {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 20px;
}
.star6 i {
  color: goldenrod;
}
.star6 p {
  margin-top: -5px;
  margin-right: 15px;
  float: right;
}
.footer {
  padding: 20px 20px 20px 20px;
  background-color: rgb(121, 118, 118);
}
.content i {
  font-size: 22px;
  padding: 10px 10px 10px 10px;
}
.content p {
  font-size: 16px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .logo i,
  .logo a {
    font-size: 14px;
  }
  .logo a {
    margin-left: -30px;
  }
  .icons i {
    font-size: 16px;
  }
  .bgtext h1 {
    font-size: 14px;
  }
  .bgtext p {
    font-size: 12px;
  }
  .join a {
    font-size: 12px;
    margin-top: 7px;
    padding: 5px 5px 5px 5px;
  }
  .mid h1 {
    font-size: 40px;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
  .cards i {
    font-size: 100px;
  }
  .famous h1 {
    margin-left: -77px;
    font-size: 34px;
  }
  .places {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .footer p {
    font-size: 10px;
  }
  .footer i {
    font-size: 10px;
  }
}
@media (min-width: 1280px) {
  .hideOnPc {
    display: none;
  }
}
