@import url("https://fonts.googleapis.com/css2?family=Gafata&family=Forum&family=Fredericka+the+Great&family=Fugaz+One&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 20px 10px 20px 10px;
  position: fixed;
  gap: 24px;
  background-color: black;
  z-index: 99;
  
}

.head a {
  color: red;
}
.head h1 {
  font-size: 30px;
  font-family: "Fredericka the Great";
}
.menu {
  display: flex;
  align-items: center;
  gap: 44px;

}
.hove {
  display: flex;
  align-items: center;
  gap: 68px;
  position: relative;
  letter-spacing: 0.1cap;
}
.hove a {
  text-decoration: none;
  color: red;
  position: relative;
  font-size: 20px;
  font-family: "Forum";
  transition: 0.2s;
  padding-bottom: 5px;
}
.hove a::after {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  left: 0;
  border-radius: 40px;

  transition: 0.3s;
}
.hove a:hover::after {
  height: 3px;
  width: 100%;
  background-color: white;
}
.menu a:hover {
  color: lightgray;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
}
.sidebar a{
  padding: 10px 10px 40px 10px;
  width: 100%;
  transition: 0.4s;
}
.sidebar img {
  padding: 10px 10px 40px 10px;
  width: 10%;
}
.sidebar a:hover {
  background-color: gray;
}
.icons i{
  color: red;
}
.container {
  padding: 285px 30px 285px 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  color: white;
  background-color: rgb(36, 36, 36);
}
.left h3 {
  font-size: 40px;
  font-weight: 50;
  font-family: "Fugaz One";
}
.left span {
  color: red;
}
.right img {
  height: 345px;
  width: 345px;
  border-radius: 200px;
  border: 5px solid red;
  box-shadow: 14px 14px 8px rgba(0, 0, 0, 0.2);
}
#aboutus {
  background-color: rgb(36, 36, 36) ;
}
.slides {
  width: 100%;
  margin: 0 auto;
}
.carousel {
  height: 400px;
  overflow: hidden;
  position: relative;
}
.slider {
  height: 100%;
  display: flex;
  width: 300%;
  transition: all 0.3s;
}

.slider section {
  flex-basis: 100%;
  display: flex;
  background-color: rgba(58, 57, 57, 1);
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}
.slider h1 {
  position: absolute;
  top: 0;
  color: red;
  font-family: "Forum";
  font-size: 44px;
  font-weight: 50;
}
.slider img {
  width: 400px;
  height: 300px;
  border-radius: 50px;
}
.slider video {
  width: 400px;
  height: 350px;
  border-radius: 200px;
}

.aboutme,
.aboutme2,
.aboutme3 {
  width: 500px;
  height: 300px;
  background-color: rgba(58, 57, 57, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 18px;
  letter-spacing: 1px;
  box-sizing: border-box;
  color: white;
}

.navigation {
  position: absolute;
  top: 45%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.arrow {
  background: none;
  border: none;
  cursor: pointer;
  color: red;
  font-size: 60px;
}
.arrow.left {
  left: 15px;
}
.arrow.right {
  right: 15px;
}
.slider table {
  width: 70%;
  height: 60%;
  border-collapse: collapse;
}
.slider td {
  padding: 30px;
  text-align: center;
}
.social-icon {
  font-size: 24px;
  color: white;
  padding: 30px 30px 30px 30px;
  display: flex;
  align-items: center ;
  justify-content: space-between;
  background-color: black;
  transition: 0.2s;
  transition-timing-function: ease-in;
}
.slider tr :hover {
  transform: scale(1.1);
}
.Pnc {
  text-align: center;
  color: red;
  padding: 30px 0 30px 0;
  font-family: "Forum";
  font-size: 20px;
  background-color: rgb(36, 36, 36);
}
.pncbody {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 36, 36);
  padding: 100px 0 100px 0;
}
.pncbody table {
  width: 90%;
  height: 90%;
text-align: center;
}
.pncbody th,td {
  color: white;
}
.pncbody p {
  font-size: 30px;
  padding: 50px;
  font-family: "gafata";
  letter-spacing: 2px;
}
.pncbody h1 {
  font-size: 50px;
  font-family: "Forum";
}
.works {
  color: red;
  background-color: black;
  padding: 50px;
  font-size: 25px;
  font-family: "Forum";
}
.workbody {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 400px;
  text-align: center;
  background-color: black;
}
.workbody i {
  font-size: 120px;
}
.workbody a{
  color: red;
}
.footerhead {
  height: 50px;
  background-color: rgb(36, 36, 36);
}
.footer {
  padding: 10px 20px 10px 20px;
  background-color: rgb(121, 118, 118);
}
.content i {
  font-size: 22px;
  padding: 10px 10px 10px 10px;
}
.content p {
  font-size: 16px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .container {
    padding: 100px 0px 100px 0px;
    gap: 0;
  }
  .container h3 {
    font-size: 12px;
  }
  .container img {
    width: 100px;
    height: 100px;
  }
.carousel {
height: 200px;
}
.slider h1 {
  font-size: 24px;
}
.slider img {
  width: 100px;
  height: 100px;
}
.slider video {
  width: 100px;
  height: 100px;
}
.navigation {
  top: 40%;
}
.arrow {
  font-size: 30px;
}
.aboutme, .aboutme2, .aboutme3 {
font-size: 10px;
width: 150px;
  height: 150px;
  padding: 0;
}
.slider table {
  width: 100px;
  height: 100px;
}
.slider td {
  padding: 5px;
}
.social-icon {
  padding: 10px;
  font-size: 16px;
}
.Pnc h1 {
  font-size: 16px;
}
.pncbody {
  padding: 40px 0 20px 0;
}
.pncbody table {
  width: 0;
  height: 0;
}
.pncbody h1{
  font-size: 36px;
}
.pncbody p{
font-size: 16px;
}
.works {
  padding: 30px 10px 30px 10px;
}
.works h1{
  font-size: 24px;
}
.workbody {
  height: 200px;
}
.workbody i{
  font-size: 44px;
}
.workbody h1 {
  font-size: 24px;
}
.footer p{
  font-size: 12px;
}
.footer i {
  font-size: 14px;
}
}
@media (min-width: 1280px) {
  .hideOnPc {
    display: none;
  }
}